@import "config";
@import "utilities";

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  line-height: 1.5;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 250px;
  height: 90px;
}

// Main Navigation
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: solid 3px transparent;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  // Header Home Page
  &-home {
    background: $main-color;
    height: 100vh;
    color: #fff;

    // Header Content
    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

  &-inner {
  }
}
